<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %> <br/><br/>
  Password: <%= password_field_tag :password %> <br/><br/>
  <h3 align="center"><input class="btn btn-outline-primary" type="submit" value="Submit"></h3> <br/><br/>

<% end %>