<h3 align="center">You have successfully logged out. Thank you!</h3> <br/>
<div class="d-flex justify-content-center align-items-center container "> 

<h3 align="center"><%= link_to 'Log Back In', '/login' %><h3>
