<h1 align="center">DATA DOC</h1> <br/>
<h3 align="center">Patient management made simple</h3><br/>
<h4 align="center">Please sign up or log in to continue.</h4> <br/>
<h4 align="center">Login</h4>
<div class="d-flex justify-content-center align-items-center container "> 

<%= render 'form', session: @session %>

</div>
<h3 align="center"><%= link_to 'Sign Up', 'signup' %><h3>
